<div class="row">

     <!-- About -->
    <div class="col-md-12">
        <h1 class="my-4">Sobre</h1>
        <h2>CMSLinkia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue arcu sed dui porta, non gravida est lacinia. Donec accumsan lectus nec magna blandit, ut condimentum purus malesuada. Morbi consequat neque vitae nulla pharetra elementum. In in ligula pellentesque, consequat ipsum et, bibendum turpis. Sed ultricies id quam aliquam auctor. Donec ac placerat ligula. Praesent at blandit sem, vitae rutrum elit. Maecenas sagittis lobortis rhoncus. Suspendisse ullamcorper porta fringilla. Vivamus at dignissim lacus. Aliquam a lobortis ipsum. Sed tristique eros ligula, nec gravida purus sagittis hendrerit. </p>
        <h2>Autor</h2>
        <figure>
        <blockquote>Etiam a porttitor nunc. Curabitur id dui eget risus sollicitudin laoreet. Aliquam mi augue, scelerisque facilisis nisi eget, euismod accumsan arcu. Fusce fermentum lorem in lorem varius, ac maximus elit cursus. Maecenas fringilla sollicitudin porta. Morbi ac purus vel nibh tincidunt dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed dictum sem. Aliquam erat volutpat. Aenean felis lorem, ultrices dictum erat nec, auctor aliquam tellus. Donec ac commodo augue, porta sodales nisl. Phasellus orci nibh, eleifend ut ipsum tristique, imperdiet condimentum urna. 
        </blockquote>
        <figcaption>—Javier Rodrigo, <cite>citando Lorem Ipsum</cite></figcaption>
        </figure>
    </div>
</div>
