<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="list-group w-100">
            <li class="list-group-item">
                <a class="nav-link active" href="/admin">Dashboard</a>
            </li>
            <li class="list-group-item">
                <span class="float-left">Posts</span>{{!--<span class="badge bg-primary rounded-pill">2</span> **** Implementar contador de  posts --}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/showPosts">Mostrar Posts</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/createPost">Crear posts</a> 
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <span class="float-left">Usuarios</span>{{!--<span class="badge bg-primary rounded-pill">2</span> **** Implementar contador de  posts --}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/showUsers">Mostrar usuarios</a> 
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/createUser">Crear usuario</a> 
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>